/* weibo.com */
body div[feedtype="ad"] {
    display: none!important;
}
body div[ad-data]{
    display: none!important;
}
/* baidu.com */
body #content_left>div:not(.c-container), body #content_left>div:not(.c-container)>a, body #content_left>div:not(.c-container)>div, body div.spread-wrap, body div#detail_adm_right, body div.right-ad{
    display: none!important;
}

/* hao123.com */
body div[monkey="casual-topbannerad"], body div[monkey="treasure-game"], body div#hao123-guesslike, body div[monkey="footer-banner2"], body div[monkey="shopping"], body div.wg-adv, body div#wp #framed6kq51_left, body div#wp #diynavtop, body>div[align="center"]>center{
    display: none!important;
}

/* w3school.com.cn */
body div[id="ad_head"], body div[id="ad"], body #maincontent>div>ins.adsbygoogle{
    display: none!important;
}

/* cnblogs.com */
body .c_ad_block, #cnblogs_a1, #cnblogs_b1, #cnblogs_b2, #cnblogs_b3{
    display: none!important;
}

/* juejin.im */
body aside div.banner.section.shadow.banner-section, body #juejin>div.recommend-box{
    display: none!important;
}

/* dytt8.net */
body #header #headerright #about iframe, body .bd2 .bd4l iframe, body .bd2 .bd6 ul iframe, body>div[id^="cs_DIV_"], body>div[id^="cs_CFdivdlST_"], body #Zoom>span>a{
    display: none!important;
}

/* blog.csdn.net */
body aside div[id^="cpro_"], body #article_ad, body div[id^="dmp_ad_"], body div[id^="kp_box_"], body #adContent, body iframe[src^="https://pos.baidu.com/"], body iframe[src^="http://pos.baidu.com/"], body iframe[id^="adframe"], body div.recommend-ad-box{
    display: none!important;
}

/* fastsoso.cn */
body #notice, body>div.modal-backdrop{
    display: none!important;
}
body.modal-open{
    overflow: auto!important;
}
/* 163.com */
body div.mod_index_ad, body div.index_top_ad, body div.head_ad, body div.hp_textlink_ad, body div.mod_r_ad, body div.mod_ad_text {
    display: none!important;
}
/* mail.163.com */
body #dvNavTree li[role="complementary"],body .gWel-bottom, body .frame-main div[id～=“AdDiv”].tN0.nui-closeable, body .frame-main div.xd0.nui-closeable[id$="FooterDiv"] {
    display: none!important;
}

/* qq.com */
body div[adconfig_lview]{
    display: none!important;
}

/* autohome.com.cn */
body div.monkey-row, body div.union-ad-placeholder,body div.athm-title__ad, body div.adv, body div.adRight, body div.advbox{
    display: none!important;
}

/* sina.com.cn */
body ins[data-ad-pdps],body div.sinaad-toolkit-box {
    display: none!important;
}

/* jianshu.com */
body div#fixed-ad-container, body div.youdao-img-ad, body div.youdao-flow-ad, body div#note-fixed-ad-container{
    display: none!important;
}

/* oschina.net/ */
body ins[data-ad-client]{
    display: none!important;
}

/* huxiu.com/ */
body div.top-box-ad-banner, body div.right-ad-box, body div.ad-wrap{
    display: none!important;
}

/* chinaz.com/ */
body iframe[onload^="BAIDU_SSP"], body div#topTxt.topTsRight, body div#navAfter, body #loc.Mnav-right02,body #centerImg.ToolsWrap,body #bottomImg.fotatxtd,body div#centerTxt, body div#toolsIntro, body div.topTsCenter.fr, body div[id^="BAIDU_DUP"], body div#imgbd #bgad, body ul.sideAdList.fr, body div.plate-layout.img_wrap_l.goTop,body div.txtAdBox, body div#ad_text,body div#ad_headerbanner, body div#overlay, body a[title="NordVPN Special VPN"]{
    display: none!important;
}
body div#imgbd{
    background-image: none!important;
}

/* iqiyi.com */
body div.result_ad_wrap, body div.qy-mod-ad{
    display: none!important;
}

/* zhangxinxu.com */
body div#adSlideX div.da_inner, body div#daITxz2, body div#topAdOut{
    display: none!important;
}

/* youku.com */
body div[id^="module_ad"],body div.yk-AD-tong, body div[data-adid]{
    display: none!important;
}

/* douyu.com */
body div[data-type="sign"], body div[data-type="dyrec"], body div.Bottom-ad{
    display: none!important;
}

/* bilibili.com */
body div#slide_ad{
    display: none!important;
}

/* sohu.com */
body div[data-god-id],body span[data-god-id], body div.god-wrapper.area.clearfix, body div.specialAdFlag{
    display: none!important;
}

/* ifeng.com */
body div[id^="adv_"], body div[id^="iis3_dif_"]{
    display: none!important;
}

/* ctrip.com */
body div.mod-ads, body div#fl_wrap_default, body div#_rcmd.recommend_mod{
    display: none!important;
}

/* zhihu.com */
body img[alt="广告"]{
    display: none!important;
}

/* douban.com */
body iframe[src^="https://ad.doubanio.com"]{
    display: none!important;
}

/* fang.com */
body div.add300, body div.add1300{
    display: none!important;
}

/* qunar.com */
body img[id^="ad_"], body div.ad_wrapperadv1{
    display: none!important;
}

/* zhibo8.cc */
body div[class^="ad_box_"] {
    display: none!important;
}

/* qidian.com */
body div#topGameOp[data-l1], body div#tr-banner[data-l1], body div#banner-two[data-l1], body div.games-op-wrap[data-l1], body div.right-op-wrap.mb10[data-l1] {
    display: none!important;
}

/* ebay.com */
body div[data-google-query-id], body > div.a_fl.a_cb, body > div.a_fr.a_cb, body > div.a_cn, body > div.a_fl{
    display: none!important;
}

/* jb51.net */
body #page #mainBody div.tonglan, body #page #mainBody div.softsfwtl, body .ad-widget-imageplus-sticker{
    display: none!important;
}

/* toutiao.com */
body div[ad_name][ad-cursor], body .col-sm-5 #ps32-container,body #adxp, body #k7i977, body iframe[src^="//adserver."], body iframe[src^="https://syndication"] {
    display: none!important;
}
body #hd-rightColVideoPage, body div.wrapper.hd + div, body #player + div{
    display: none!important;
}

/* www.y2mate.com */
body #ads_spot1, body #result div.hidden-xs, body .modal-dialog #ads-place-download, body .modal-dialog #share-place-download{
    display: none!important;
}